
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-style: normal;
}




/* {
    margin: 0;
    padding: 0;
    
}
.dispay-body{
    max-width: 1140px;
}  */

/* head section */
.container-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin:30px auto;
}


nav ul{
    list-style: none;
    display: flex;
    gap: 48px;
}
nav li a{
    text-decoration: none;
    color: #8987A1;
}
/* banner styles */
.banner-container{
    max-width: 1140px;
    height: 461px;
    display: flex;
    justify-content:end;
    align-items: end;
    margin: 120px auto;
}
.banner-container h1{
    font-size: 65px;
    font-weight: bold;
}
.banner-container p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.50);
    max-width: 570px;
    
}
.banner-image img{
    width: 570px;
}

/* our plants styles */

.plants-title h2{
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1.00);
    max-width: 1140px;
    height: 68px;
    /* margin-top: -80px; */
}
.plants-title p{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    width: 888px;
    height: 53px;
    margin:16px 126px 100px ;
}
.plants{
    width: 1140px;
    height: 1185.88px;
    margin: 120px auto;
    text-align: center;
}
/* flower box styles */
.flower-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    
}
.flower-item{
    text-align: center;
    margin-top: -50px;
    
}
.flower-item img{
    width: 270px;
    height: 322px;
    margin: 20px 0px;
}
.flower-box{
    max-width: 270px;
    height: 484px;
}
.flower-item h3{
    color: rgba(17, 17, 17, 1.00);
    font-size: 22px;
    font-weight: 500;
}
.flower-item h2{
    color: rgba(17, 17, 17, 1.00);
    font-size: 22px;
    font-weight: 700;
}
.flower-item button{
    width: 270px;
    height: 50px;
    margin: 30px 0px;
    /* padding: 26px 50px; */
    background-color: rgba(233, 90, 8, 1.00);
    color: rgba(255, 255, 255, 1.00);
}
/* Flower & Plants Lover */
 
.flower-lover{
    max-width: 1140px;
    height: 597px;
    /* gap: 60px; */
    margin:211px auto;
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.container-img{
    width: 100%;
    height: 100%;
    position: static;

}
.logo-img-love{
    max-width: 286px;
    top: 2100px;
    left: 700px;

    position: absolute;
    /* margin: -120px 200px; */
    /* transform: translate(-50%, -50%); */
    
}
.container-title{
    width: 540px;
    height: 519px;
    /* margin: 10px 20px; */
}
.container-title h1{
    width: 540px;
    height: 147px;
    font-size: 50px;
    font-weight: 700;
    gap: 20px;

}
.container-title h1 span{
    display: block;
}
.container-title ul li{
    font-size: 22px;
    list-style:disc;
    font-weight: 400;
    max-width: 540px;
    margin: 20px 0;
    color:  rgba(0, 0, 0, 0.5);;
} 
 
/* deals-title */

.container-deal{
    max-width: 1140px;
    text-align: center;
    margin: auto;
}
.container-deal h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.container-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1140px;
    margin: 121px auto;
    gap: 25px;
    
}
.container-deal p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.big-box a{
    text-decoration: underline;
}
.big-box{
    width: 753px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    
}


.box-grid h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    
}
.box-grid .ancor{
    color: white;
    text-decoration: underline;
    font-weight: 600;
}



.colorful-image{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 533px;
    margin: 120px auto;
    padding: 199px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn-4{
    width: 50%;
    position: relative;
    margin: 0 auto;
}
.colorful-image h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.colorful-image input[type=text] {
    background-color: white;
    padding: 10px;
    width: 644px;
    height: 50px;
    /* width: 50%; */
}
.colorful-image input[type="submit"]{
    position: absolute;
    background-color:#E95A08 ;
    padding: 13px;
    top: 0;
    right: -218px;

}


/* footer styles */
.footer-container{
    display: flex;
    width: 1120px;
    height: 284px;
    margin: 0 auto;
    gap: 110px;
    /* justify-content: center;
    align-items: center; */
    
}
.footer-description{
    width: 359px;
    height: 80px;
    font-size: 22px;
    font-weight: 400;
    color: #00000080;
}
.footer-navbar{
    width: 85px;
    height: 248px;
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    /* padding: 32px; */
    
    
}
.list{
    width: 128px;
    height: 248px;
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    /* padding: 32px; */
    
}
.footer-icon{
    display: flex;
    width: 216px;
    height: 36px;
    gap: 32px;
}

@media screen and (max-width:576px) {
    
    nav li a.cart{
    display: none;
    }
    .container-head{
    display: flex;
    max-width: 390px;
    
    
    }
    .banner-title{
        padding: 20px;
    }
    .banner-container{
    
        display: flex;
        flex-direction: column-reverse;
        margin: 120px auto;
    }
    .banner-image img{
    
        width: 393px;
        height: 243px;
    }
   
    .banner-container h1{
        font-size: 24px;
        /* padding: 28px 16px 13px; */
        
    }
    .banner-container p{
        font-size: 14px;
        
    }
    .plants-title h2{
        font-size: 24px;
         max-width: 393px;
         margin-top: -65PX;
        
    }
    .plants-title p{
        font-size: 14px;
        width: 336px;
        margin:-16px 11PX 80PX 55PX;
        justify-items: center;
    }
    .flower-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        margin-left: 70px;
    }
    .flower-item button{
        width: 171px;

    }
    .flower-lover{
        flex-direction: column;
        width: 100%;
        
        margin: 1100px 0;
        padding: 30px;
    }
    .container-img{
        width: 100%;
        
    }
    .container-title{
    width: 100%;
    height: 100%;
    margin: 0px;
   }
   .container-title h1{
    width: 100%;
    /* height: 100%; */
    font-size: 28px;
    font-weight: 700;
    gap: 0px;
    margin-top: 20px;
   }
   .container-title p{
    font-size: 22px;
    font-weight: 400;
    max-width: 100%;
    margin:0;
    color:  rgba(0, 0, 0, 0.5);;
   } 
   .container-title h1 span{
    display: inline;
   }
   .container-box{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    padding: 20px;
    gap: 25px;
    margin-top: -200px;
    
    }
    .container-deal{
    max-width: 100%;
    text-align: center;
    padding: 16px;
    }
    .big-box{
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 49%;
    height: 206px;
    }
    .big-box{
    font-size: 15px;
    font-weight: 700;
    }
    .container-deal h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: -500px;
    
    }
    .big-box,#image{
        width: 100%;
        height: 110px;
    }
    .colorful-image{
        
        width: 393px;
        
        height: 275px;
        padding: 30px;
        border-radius: 10px;
    }
    .colorful-image h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .colorful-image input[type=text] {
    width: 218px;
    height: 50px;
    /* width: 50%; */
    }
    .colorful-image input[type="submit"]{
    
    right: -100px;

    }
    .btn-4{
    
    margin: 0 auto;
    }

    
    /* footer */
    .footer-container{
        flex-direction: column;
        margin: 47px ;
        gap: 20px;
    }
    
    .footer-icon{
        flex-direction: row;
    }
    
}